<div class="container">
    <div class="col-sm-10" style="margin-left:100px">
        <h1>Add new User</h1>
    </div>

    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="username" class="col-sm-1 control-label">Username</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="username" ng-model="user.username"
                           placeholder="Username">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-1 control-label">Email</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" ng-model="user.email" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-1 control-label">Name</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" ng-model="user.name" placeholder="Name">
                </div>
            </div>

            <div class="form-group">
                <label for="age" class="col-sm-1 control-label">Age</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="age" ng-model="user.age" placeholder="Age">
                </div>
            </div>

            <div class="form-group">
                <label for="location" class="col-sm-1 control-label">Location</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" id="location" ng-model="user.location"
                           placeholder="Location">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-6">
                    <button ng-click="addNewUser()" class="btn btn-success">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>